@model BookStoreTM.Models.News
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaTinTuc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới  Tin tức</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"> Tin tức</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin Tin tức</h3>
        </div>

        <div class="bs-stepper-content">
            @using (Html.BeginForm("SuaTinTuc", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)
                @Html.HiddenFor(x => x.NewsId)
                @Html.HiddenFor(x => x.CategoryId)
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tiêu đề </label>
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @plachilder = "Tên danh mục" })
                            @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="exampleInputEmail1">Hình ảnh</label>
                            <div class="input-group">
                                <div class="input-group">
                                    <input asp-for="Image" type="file" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mô tả</label>
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Chi Tiết </label>
                            <div>
                                <textarea class="form-group" name="Detail" id="inputDetail"></textarea>
                                @* @Html.TextAreaFor(x => x.Detail, new { @class = "form-control", @id = "txtDetail" }) *@
                                @Html.ValidationMessageFor(Model => Model.Detail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Hiển thị</label>
                            @Html.CheckBoxFor(x => x.IsActicve)
                            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label">CategoryId</label>
                            <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-control">
                            </select>
                        </div>

                        @* <div class="form-group">
                            <label for="CategoryId" class="control-label">CategoryId</label>
                            <select id="CategoryId" name="CategoryId" class="form-control">
                                @foreach (var item in ViewBag.CategoryId as IEnumerable<SelectListItem>)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div> *@

                        <div class="form-group">
                            @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <textarea class="form-group" name="Detail" id="Detail"></textarea>
                                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-danger">Quay lại</a>
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


@* <div class="row">
    <div class="col-md-4">
        <form asp-action="SuaTinTuc" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoTitle" class="control-label"></label>
                <input asp-for="SeoTitle" class="form-control" />
                <span asp-validation-for="SeoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoKeywords" class="control-label"></label>
                <input asp-for="SeoKeywords" class="form-control" />
                <span asp-validation-for="SeoKeywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoDescription" class="control-label"></label>
                <input asp-for="SeoDescription" class="form-control" />
                <span asp-validation-for="SeoDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

