@model BookStoreTM.Models.Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaDanhMuc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sửa danh mục</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
                    <li class="breadcrumb-item active">Sửa</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin  danh mục</h3>
        </div>

        <div class="bs-stepper-content">
            @using (Html.BeginForm("SuaDanhMuc", "Category", FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)
                @Html.HiddenFor(x => x.CategoryId)

                <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên danh mục</label>
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @plachilder = "Tên danh mục" })
                        @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Mô tả</label>
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Thứ tự </label>
                        @Html.TextBoxFor(x => x.Position, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-danger">Quay lại</a>
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</section>



